@use "../abstracts/mixins";

.question-container {

    font-size: 1.5em;

    .question {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .riddle-box {
        white-space: pre-wrap;  /* Keeps newlines */
        word-break: break-word; /* Ensures words break naturally */
        text-align: center;      /* Centers the riddle */
        max-width: 90%;          /* Prevents it from stretching too wide */
        margin: 0 auto;          /* Centers the box */
        font-size: 1.2rem;       /* Adjust font size if needed */
        line-height: 1.4;        /* Better readability */
    }
    
    .question-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        @include mixins.query (mobile) {
            flex-direction: column;
            height: 6em;
            justify-content: space-between;
        }
    }

    .question-body {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .speaker-icon {
        padding: 0;
        margin: 0;
        background-color: transparent;
    }
}