.quiz-container {
    width: 90%;

    // margin: 0 auto;
    // transform: translate(-50%, -50%)    ;
    // -webkit-transform: translate(-50%, -50%)    ;
    // -moz-transform: translate(-50%, -50%)    ;
    // -ms-transform: translate(-50%, -50%)    ;
    // -o-transform: translate(-50%, -50%)    ;
    h1 {
        font-size: 1.6em;
        margin: 1em 0 1em 0;
    }

    .quiz-finished-btns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        buttons {
            width: 200px;
        }
    }

    .control-buttons {
        margin-top: 10px;
        position: relative;
        button.next-btn {
            font: inherit;
            font-size: 1.2em;
            display: block;
            width: 40%;
            position: absolute;
            right: 0;
        }
    }
}