body {
    background-color: #343A40;
    font-family: 'Trebuchet MS', sans-serif;
    // color: white;
}

code {
    color: rgb(114, 4, 4);
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    color: black;
    text-wrap: wrap;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    overflow-x: auto;
}

button {
    background-color: #495058;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    // text-decoration: none;
    // transition: color 100ms;
    // vertical-align: baseline;
    // user-select: none;
    // -webkit-user-select: none;
    // touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}